[ip-reputation]
spoe-agent ip-reputation
    groups check-ip
    option var-prefix iprep
    option pipelining
    timeout hello 2s
    timeout idle 30s
    timeout processing 100ms
    use-backend spoe-backend

spoe-message check-client-ip
    args ip=src
;    args ip=urlp(ip) # <-- get ip by params

spoe-group check-ip
    messages check-client-ip

