global
    log stdout format raw daemon info
    #stats socket /var/run/haproxy.sock
defaults
    mode http
    option httplog
    log global

    timeout connect 1s
    timeout client 30s
    timeout server 30s
    timeout tarpit 15s

frontend prometheus
    bind *:8404
    no log
    http-request use-service prometheus-exporter if { path /metrics }

frontend http-in
    bind :8080

    stick-table type ip size 1m expire 10s store gpt0

    http-request track-sc0 src

    acl ip_good sc_get_gpt0(0) -m int eq 1
    acl ip_bad sc_get_gpt0(0) -m int eq 2
    acl ip_unknown sc_get_gpt0(0) -m int eq 0

    filter spoe engine ip-reputation config /etc/haproxy/haproxy-spoa-ip-reputation-firehol.cfg

    http-request send-spoe-group ip-reputation check-ip if ip_unknown

    http-request sc-set-gpt0(0) 1 if ip_unknown { var(sess.iprep.ip_bad) -m int eq 0 }
    http-request sc-set-gpt0(0) 2 if ip_unknown { var(sess.iprep.ip_bad) -m int eq 1 }

    #http-request tarpit if ip_bad
    http-request silent-drop if ip_bad

    default_backend web

backend web
    http-request return status 200 content-type "text/plain" string "Hello World\n"

backend spoe-backend
    mode tcp
    option spop-check
    server spoa1 spoa:9000 check
